    <div class="header">
        <p>header works!</p>
          <!-- 
          <a class="active" href="#home">Home</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
           -->
          <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
          <a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">contacts</a>
          <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">dashboard</a>

        </div>

